<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<html>
<head>
  <title>Gtdapp</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="author" content="nick@simplapps.co.uk">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  
  <!-- Google WebFonts -->
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Fixed Layout Wrapper -->
  <div class="fixed-wraper">
    
    <!-- Aside Block -->
    <section role="navigation">
      <!-- Header with logo and headline -->
      <header>
        <a href="/" title="Back to Homepage"></a>
        <h1>Lorem ipsum dolor sit amet!</h1>
      </header>
		
      <!-- User Info -->
      <section id="user-info">
              <img src="img/sample_user.png" alt="Sample User Avatar">
              <div>
                      <a href="#" title="Account Settings and Profile Page">Joe Tester</a>

                      <em>Administrator</em>
                      <ul>
                              <li><a class="button-link" href="#" title="This is my title!" rel="tooltip">view website</a></li>
                              <li><a class="button-link" href="#" title="And this is Sparta!" rel="tooltip">logout</a></li>
                      </ul>
              </div>
      </section>

      <!-- /User Info -->

      <!-- Main Navigation -->
      <nav id="main-nav">
        <ul>
          <li><a href="/" title="" class="dashboard no-submenu">Dashboard</a></li> <!-- Use class .no-submenu to open link instead of a sub menu-->
          <!-- Use class .current to open submenu on page load -->
          <li class="current">
            <a href="" title="" class="projects">Projects</a><span title="You have 3 new tasks">3</span>

            <ul>
              <li class="current"><a href="index.html" title="">Sample Index Page</a></li>
              <li><a href="401.html" title="">Error 401</a></li>
              <li><a href="403.html" title="">Error 403</a></li>
              <li><a href="404.html" title="">Error 404</a></li>
              <li><a href="500.html" title="">Error 500</a></li>

              <li><a href="503.html" title="">Error 503</a></li>
              <li><a href="login.html" title="">Sample Login Page</a></li>
            </ul>
          </li>
          <li>
            <a href="" title="" class="products">Products</a>
            <ul>

              <li><a href="" title="">Add Product</a></li>
              <li><a href="" title="">Edit Product</a></li>
              <li><a href="" title="">Product Management</a></li>
              <li><a href="" title="">Some very long link with a lot of words</a></li>
            </ul>
          </li>
          <li>

            <a href="" title="" class="events">Events</a>
            <ul>
              <li><a href="" title="">My Events</a></li>
              <li><a href="" title="">Add Event</a></li>
              <li><a href="" title="">Edit Event</a></li>
              <li><a href="" title="">Event Management</a></li>

              <li><a href="" title="">Settings</a></li>
            </ul>
          </li>
          <li><a href="" title="" class="articles">Articles</a></li>
          <li><a href="" title="" class="gallery">Image Gallery</a><span title="You have 47 new tasks">47</span></li>
          <li><a href="" title="" class="settings">Settings</a></li>

        </ul>
      </nav>
      <!-- /Main Navigation -->
    
    </section>
    <section role="main">
      <%= yield %>
    </section>
  </div>
</body>
</html>
